nav {
    margin-top: 15px;
    margin-right: 50px;
}


.header-nav {
    text-decoration: none;
    list-style: none;
    color: black;
}

.header-nav:nth-of-type(1),
.header-nav:nth-of-type(2) {
    margin-right: 30px;
}

.attendance-main{
    width: 70vw;
    height: 70vh;
}

.date-picker {
    margin-top: 50px;
    text-align: center;
}

/* 日付前後の矢印 */
.arrow {
    text-decoration: none;
}

.date-display {
    border: none;
    outline: none;
    background-color: #eeeded55;
    text-align: center;
    font-size: 20px;
}


table {
    width: 100%;
    margin-top: 50px;
    border-top: 1px solid black;
}
th {
    padding: 30px;
}

tbody{
    text-align: center ;
    border-top: 1px solid black;
}

td {
    border-top: 1px solid black;
    padding: 30px;
}