html,
body {
    height:100%;
    width: 100%;
}

.app {
    display:flex;
    flex-direction: column;
    height: 100vh;
}

/* ヘッダー */
.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;

}

.header__heading {
    color: black;
    padding: 0 50px;

}
/* メイン */
.main {
    background-color: #e6e6e6a4 ;
    height: 100%;
    width: 100%;
}

.footer {
    text-align: center;
    background-color: #fff;
}